/*Estilos da página index.html*/

.center{

    display: flex;
    justify-content: center;
}
.container{ 

    display: flex;
    flex-flow : row ;
    justify-content: center;
    align-items: center;

}

#menu li {

    display: inline;
    padding: 30px;
}
#menu li a{

    text-decoration :none;
    color:red;
    font-size : 20px;
}

#menu li a:hover{

   
    color:black

}

.p-30{

    padding:30px;
}

.br-50{

    border-radius: 50%;
}

.wh-300{

    width: 300px;
    height: 300px;
}
.tm-social{

    width: 50px;
    height: 50px;

}
.mb-50{

    margin-bottom: 50px;
}

.justify{   

    text-align: justify;
}

.ml-50{

    margin-left: 50px;
}


/*Estilos da página contatos.html*